@font-face {
    font-family: "Raleway";
    src: local("Raleway"), url('./assets/fonts/Raleway-Regular.ttf') format("truetype");
}

html, body {
    padding: 0px;
    margin: 0;
    border: 0px;
    font-family: "Raleway";
    overflow: hidden;
    height: 100%;
    width: 100%;
}
app-root { 
    height: 100%;
    width: 100%;
    bottom: 0px;
}

.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.gap {
    gap: 10px;
}
.small-gap {
    gap: 5px;
}