:host {
    max-width: 800px;
    --padding: 15px;
    width: calc(100% - var(--padding));
    padding-left: var(--padding);
    padding-right: var(--padding);
}
@media only screen and (max-width: 300px) {
    :host {
        --padding: 5px;
    }
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    :host {
        --padding: 10px;
    }
}